<div class="flex justify-center gap-20 mt-20">
  <div class="relative lg:block hidden">
    <%= image_tag "https://www.instagram.com/static/images/homepage/phones/home-phones-2x.png/cbc7174b4f05.png", class: "image-login-general" %>
    <%= image_tag "https://www.instagram.com/static/images/homepage/screenshots/screenshot3-2x.png/fe2540684ab2.png", class: "image-login absolute top-4 left-32" %>
  </div>
  <div class="container-login">
    <div class="border-2 border-solid border-gray-100 p-10">
      <h1 class="font-bold text-4xl home-h1 sm:m-auto mb-4 text-center">
        Instagram
      </h1>
      <div class="mt-5">
        <%= form_with url: users_sign_up_path, local: true do |form| %>
          <%= form.text_field :name, class: "bg-gray-100 w-4/6 m-auto block rounded-md p-1.5 outline-none mb-5 text-sm", placeholder: "Name" %>
          <%= form.text_field :email, class: "bg-gray-100 w-4/6 m-auto block rounded-md p-1.5 outline-none text-sm", placeholder: "Email" %>
          <%= form.password_field :password, class: "bg-gray-100 w-4/6 m-auto block rounded-md p-1.5 mt-5 outline-none text-sm", placeholder: "Password" %>
          <%= form.password_field :password_confirmation, class: "bg-gray-100 w-4/6 m-auto block rounded-md p-1.5 mt-5 outline-none text-sm", placeholder: "Password confirmation" %>
          <%= form.button "Sign up", class: "bg-blue-400 p-2 rounded w-4/6 m-auto block mt-4 text-white font-bold" %>
        <% end %>
      </div>
      <p class="text-center mt-5">OR</p>
      <div class="mt-5 flex justify-center gap-2 items-center">
        <%= image_tag "https://icongr.am/devicon/google-original.svg?size=24&color=currentColor" %>
        <%= button_to "Sing up with Google", '/auth/google_oauth2', method: :get, class: "cursor-pointer" %>
      </div>
    </div>
    <div
      class="border-2 border-solid border-gray-100 p-5 text-sm mt-10 text-center"
    >
      <strong>
        Do you have an account? <%= link_to "Sign in", users_new_path, class:
        "text-blue-400" %>
      </strong>
    </div>
  </div>
</div>
